:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --background-color: #525e71;
    --text-color: #fff;

    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: #343c47;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.295);
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

th {
    color: black;
    background-color: white;
}

th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
}

tr {
    color: black;
    background-color: #ffffffbf;
}

td, th {
    text-align: left;
    padding: 10px;
}

.hidden {
    top:0;
    left:0;
    position: fixed;
    visibility: hidden;
}

.input-attr {
    display: flex;
}

.input-attr > label {
    margin-right: auto;
    padding-right: 50px;
}

.home_container {
    padding-left: 2em;
}

.home_nav_button {
    background-color: #ef9208;
    border-radius: 10px;
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0; visibility: hidden}
}

.message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    border: 1px white solid;
    animation: fadeout;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    color: var(--background-color)
}
