{% extends 'layout.html' %}
{% block content %}
{% if SearchRoute %}
<form action={{SearchRoute}}>
    <input placeholder="search for a {{ SearchAttribute }}" name="search" type="text"/>
    <input value="search" type="submit"/>
</form>
{% endif %}
<div style="overflow-x:auto; width:100%">
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{header}}</th>
                {% endfor %}
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for item in row %}
                <td>{{item}}</td>
                {% endfor %}
                <td>
                    <form method="get" action="{{UpdateRoute}}">
                        <input value="update" type="submit"/>
                        <input name="id" value="{{ row[0] }}" type="text" class="hidden"/>
                    </form>
                </td>
                <td>
                    <form method="get" action="{{DeleteRoute}}">
                        <input value="delete" type="submit"/>
                        <input name="id" value="{{ row[0] }}" type="text" class="hidden"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block insertform %}
<h1>Insert</h1>
<form action="{{InsertRoute}}" method="POST">
    <table>
        {% for i in range(headers[1:]|length) %}
        <tr>
            <td style="text-align: right;"><label> {% if beauty_headers %}{{ beauty_headers[i+1] }} {% endif %}
                {% if (categories and headers[i+1] == "category_id") %}
                <select name="category_id">
                    <option value="">NONE</option>
                    {% for cat in categories %}
                    <option value="{{ cat[0] }}">{{ cat[1] }}</option>
                    {% endfor %}
                </select>
                {% elif (houses and headers[i+1] == "house_id") %}
                <select name="house_id">
                    {% for house in houses %}
                    <option value="{{ house[0] }}">{{ house[1] }}</option>
                    {% endfor %}
                </select>
                {% elif (customers and headers[i+1] == "customer_id") %}
                <select name="customer_id">
                    {% for customer in customers %}
                    <option value="{{ customer[0] }}">{{ customer[1] }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <input name="{{ headers[i+1] }}" placeholder="{{ headers[i+1] }}"/>
                {% endif %}
            </label></td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit">
</form>
{% endblock %}