{% extends 'layout.html' %}
{% block content %}
{% if SearchRoute %}
<form action={{SearchRoute}}><input placeholder="search for a street" name="search" type="text"></input><input
        value="search" type="submit"></input></form>
{% endif %}
<table>
    <thead>
        <tr>
            {% for header in headers %}
            <th>{{header}}</th>
            {% endfor %}
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for item in row %}
            <td>{{item}}</td>
            {% endfor %}
            <td>
                <form action="{{UpdateRoute}}"><input value="update" type="submit"></input></form>
            </td>
            <td>
                <form action="{{DeleteRoute}}"><input value="delete" type="submit"></input></form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block insertform %}
<h1>Insert</h1>
<form action="{{InsertRoute}}" method="POST">
    <table>
        {% for header in headers[1:] %}
        <tr>
            <td><input name="{{header}}" placeholder="{{header}}"></input></td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit">
</form>
{% endblock %}